/* CSS custom properties (variables) */
:root {
    /* color */
    --color-accent: #750014;
    --color-accent-bright: #ff1423;
    /* shadow */
    --shadow-top: 0 -0.5rem 0.5rem -0.5rem rgba(0, 0, 0, 0.2);
    --shadow-bottom: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    --shadow-left: -5px 0 5px -5px rgba(0, 0, 0, 0.2);
    --shadow-right: 5px 0 5px -5px rgba(0, 0, 0, 0.2);
    --shadow-all: 0 0 5px rgba(0, 0, 0, 0.2);
}


/* Set alternative box model for all elements */
html {
    box-sizing: border-box;
    transition: all 0.5s;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-position: inside;
}