/* CSS custom properties (variables) */
:root {
    --accent-color: #750014;
    --bright--accent-color: #ff1423;
}


/* Set alternative box model for all elements */
html {
    box-sizing: border-box;
    transition: all 0.5s;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-position: inside;
}