/* CSS custom properties (variables) */
:root {
    /* color */
    --color-accent: #750014;
    --color-accent-bright: #ff1423;
    /* shadow */
    --shadow-top: 0 -6px 6px rgba(0, 0, 0, 0.5);
    --shadow-bottom: 0 6px 6px rgba(0, 0, 0, 0.5);
    --shadow-left: -6px 0 6px rgba(0, 0, 0, 0.5);
    --shadow-right: 6px 0 6px rgba(0, 0, 0, 0.5);
    --shadow-all: 0 0 6px rgba(0, 0, 0, 0.8);
}


/* Set alternative box model for all elements */
html {
    box-sizing: border-box;
    transition: all 0.5s;
    line-height: 1.5;
    font-family: Arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    transition: inherit;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-position: inside;
}