.table-container {
    width: 100%;
    position: relative;
    overflow-x: auto;
    box-shadow: var(--shadow-right);
    border-left: var(--border-accent);
    margin-bottom: calc(2 * var(--gutter-width));
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    white-space: nowrap;
}

thead {
    box-shadow: var(--shadow-all);
}

tr {
    border-bottom: 1px solid #ccc;
}

tr:hover {
    background-color: #ccc;
}

td,
th {
    padding: 0.5em;
    text-align: left;
}

td:hover,
th:hover {
    transform: scale(1.02);
    color: var(--color-accent);
}