.lab-albums {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--gutter-width);
}

.lab-album {
    cursor: zoom-in;
}

.lab-album.open {
    cursor: zoom-out;
}

.lab-gallery img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* ------用于子元素的定位参考------- */
.lab-album .image-box {
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-all);
    /* overflow 甚至决定了 max-height 能否生效 */
    overflow: hidden;
}

/* ----设置相册关闭时 image-box 的长宽比---- */
*[class="lab-album"] .image-box::before {
    content: "";
    display: block;
    padding-top: calc(100% * 9 / 16);
}

*[class="lab-album"] img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

/* 相册关闭时，悬浮时略微增大 */
*[class="lab-album"]:hover .image-box {
    transform: scale(1.02, 1.02);
    z-index: 1;
}

/* --------前进后退按钮--------- */
.image-box .left-button,
.image-box .right-button {
    /* 默认不显示按钮 */
    display: none;
    cursor: pointer;
    position: absolute;
    padding: var(--gutter-width);
    top: 0;
    bottom: 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: var(--h3-font-size);
}

.image-box .left-button {
    left: 0;
}

.image-box .right-button {
    right: 0;
}

.image-box:hover .left-button,
.image-box:hover .right-button {
    /* 只有悬浮的时候才显示按钮 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------全屏显示图片------ */
.lab-album.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgb(0, 0, 0, 0.5);
    color: white;
}

/* -----整个 gallery 的页面控制按钮----- */
.gallery-control {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gutter-width);
}

.gallery-control .to-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-control input {
    font-family: var(--font-stack);
    font-size: 1rem;
    text-align: center;
    width: 2em;
    padding: 0;
    margin: 0;
}

.gallery-control .button {
    border: none;
    flex: 0 0 1.5em;
}