label[for="toggle-nav"] {
    position: fixed;
    z-index: 1000;
    left: 0;
    bottom: 0;
    /* Style the hamburger logo */
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 1;
    padding: var(--gutter-width);
    font-size: var(--h3-font-size);
    font-weight: bolder;
    color: var(--color-accent);
    background-color: rgb(255, 255, 255, 0.5);
    /* Set width so that CSS can trace transition */
    width: calc(1em + var(--gutter-width) * 2);
}

#toggle-nav:checked~label[for="toggle-nav"] {
    width: calc(var(--nav-width));
}



#toggle-nav:checked~main,
#toggle-nav:checked~footer {
    margin-left: var(--nav-width);
}



nav {
    position: fixed;
    width: var(--nav-width);
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
    overflow: auto;
    box-shadow: var(--shadow-all);
    /* Style for inner elements */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: var(--gutter-width);
    padding-bottom: 3rem;
    font-size: var(--h3-font-size);
}

#toggle-nav:checked~nav {
    transform: translateX(0);
    opacity: 1;
}

nav a {
    color: black;
    text-decoration: none;
    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: var(--border);
    border-bottom: var(--border);
    border-right: var(--border-bold);
}

nav a:hover,
.router-link-active {
    font-weight: bolder;
    color: var(--color-accent);
    box-shadow: var(--shadow-bottom);
    border-right-color: var(--color-accent);
}

/* Logo */
nav>a:first-child {
    width: 100%;
    height: var(--nav-width);
    border: none;
    border-bottom: var(--border-bold);
}

nav>a:first-child:hover,
.router-link-active:first-child {
    border-bottom-color: var(--color-accent);
}

nav img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    padding: 12.5%;
}

nav>a:first-child:hover img {
    transform: scale(1.02);
}