.lab-courses-box>h1 {
    margin-bottom: 1rem;
}

.lab-courses {
    animation: fadeIn 1s ease-out forwards;
}

.lab-courses>h2 {
    font-size: 1.5rem;
    line-height: 2;
    color: #d9d8d7ee;
    background-color: #0f2026ee;
    box-shadow: 0.2rem 0.2em 0.2em #00000088;
}

.lab-courses table {
    width: 100%;
    line-height: 2;
    border-collapse: collapse;
    margin-bottom: 2rem;
    box-shadow: 0.2rem 0.2em 0.2em #00000088;
}

.lab-courses table * {
    border: 1px solid #0f2026ee;
}

.lab-courses thead tr {
    background-color: #39733d88;
}

.lab-courses tbody tr:nth-child(2n+1) {
    background-color: #d9d8d788;
}

.lab-courses tbody tr:nth-child(2n) {
    background-color: #648c8588;
}