main {
    padding: calc(var(--gutter-width) * 2);
}

h1::first-letter {
    color: white;
    background-color: var(--color-accent);
    font-weight: bolder;
    display: inline-block;
    padding: 0 0.25em;
    border-radius: var(--border-radius);
}

h1 {
    margin: calc(var(--gutter-width) * 2);
    text-align: center;
    animation: fadeIn 1s ease-out forwards;
}