main {
    padding: calc(var(--gutter-width) * 2);
}

h1::first-letter {
    color: var(--color-accent);
    font-weight: bolder;
}

h1 {
    margin: calc(var(--gutter-width) * 2);
    text-align: center;
    animation: fadeIn 1s ease-out forwards;
}