.lab-members h2 {
    position: sticky;
    top: 0;
    background-color: white;
}

.lab-member {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--gutter-width);
    border-left: var(--border-accent);
    box-shadow: var(--shadow-right);
    margin-bottom: var(--gutter-width);
}

.lab-member:hover {
    border-left-color: var(--color-accent-bright);
}

.lab-member .member-portrait {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--gutter-width);
}

/* Media query can't use CSS variable */
@media (max-width: 32rem) {
    .lab-member .member-portrait {
        flex: 1 1 100%;
    }
}

.member-portrait img {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 8rem;
    box-shadow: var(--shadow-all);
}

.lab-member .member-info,
.lab-member .member-research {
    flex: 1;
    padding: var(--gutter-width);
}

.lab-member ul {
    list-style-type: none;
}