.lab-notices .control {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--gutter-width);
    margin-bottom: calc(var(--gutter-width) * 2);
}

.lab-notice {
    margin-bottom: var(--gutter-width);
}

.lab-notice .summary {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: #ccc;
    gap: 1px;
    border-left: var(--border-accent);
    box-shadow: var(--shadow-right);
    cursor: pointer;
}

.lab-notice .summary:hover {
    border-left-color: var(--color-accent-bright);
}

.lab-notice .summary>* {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.lab-notice .title {
    width: 100%;
    flex: 1 1 auto;
    justify-content: start;
}

.lab-notice .coordinator,
.lab-notice .date {
    flex: 1;
    justify-content: center;
}

.lab-notice .content {
    padding: 0.5em;
    box-shadow: var(--shadow-all);
    text-align: justify;
    word-break: break-all;
    overflow-wrap: anywhere;
    hyphens: auto;
}