.lab-publications .control {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--gutter-width);
    margin-bottom: calc(var(--gutter-width) * 2);
}

.lab-publication {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-right);
    border-left: var(--border-accent);
    text-align: justify;
    word-break: break-all;
    overflow-wrap: anywhere;
    hyphens: auto;
    padding: calc(var(--gutter-width) * 2);
    margin-bottom: calc(var(--gutter-width));
}

.lab-publication a {
    text-decoration: none;
    color: black;
}

.lab-publication a:hover {
    color: var(--color-accent-bright);
    transform: scale(1.02);
}

.lab-publication a::after {
    /* 📄🔗 */
    content: "\1F4C4 \1F517";
    text-shadow: var(--shadow-all);
}