.lab-research {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: var(--gutter-width);
    margin-bottom: calc(var(--gutter-width) * 2);
    box-shadow: var(--shadow-right);
    padding: calc(var(--gutter-width) * 2);
    border-left: var(--border-accent);
}

.lab-research h2 {
    width: 100%;
}

.lab-research .research-picture {
    flex: 0 1 fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lab-research img {
    display: block;
    width: 10rem;
    max-height: 10rem;
    border-radius: var(--border-radius);
}

.lab-research>*:nth-child(3) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: start;
}

.lab-research ul {
    margin: 0;
    padding: 0;
    /* 🔬 */
    list-style-type: "\1F52C";
}